:root {
  --bege: #e8c39e;
  --black: #000000;
  --red: #900020;
}

/* From Uiverse.io by satyamchaudharydev */ 
.back-to-top {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: var(--red);
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
}

.back-to-top > div,
.back-to-top> svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.back-to-top:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.back-to-top:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.back-to-top .clone > *,
.back-to-top .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.back-to-top .clone > * {
  transform: translateY(60px);
}

.back-to-top:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.back-to-top:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.back-to-top:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.back-to-top:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.back-to-top:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.back-to-top:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
.back-to-top svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.back-to-top:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}


* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  /* height: 100%; */
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

/* Barra de navegação */

.navbar {
  background-color: var(--black);
  color: var(--bege);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 10vh;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
}

.logo a {
  text-decoration: none;
  color: var(--bege);
}

.logo a:hover {
  text-decoration: none;
  color: var(--red);
  transition: 0.5s all ease;
}

.nav-links-desktop {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.2rem;
}

.nav-links-desktop li {
  padding: 0 15px;
}

.nav-links-desktop a,
.nav-links-mobile a {
  color: var(--bege);
  text-decoration: none;
  transition: 0.3s;
}

.nav-links-desktop a:hover {
  color: #900020;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  z-index: 5;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
  width: 80%;
  list-style: none;
  padding: 0;
}

.nav-links-mobile li {
  border-bottom: 1px solid #787272;
  padding-bottom: 1.2rem;
}

.nav-links-mobile a:hover {
  color: #900020;
}

.hamburger,
.close {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--bege);
  cursor: pointer;
  display: none;
}

.close {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  align-self: end;
}

/* Body */

.flex {
  display: flex;
}

#container {
  display: grid;
  grid-template-rows: 100/6;
}

.main {
  height: 100vh;
  background-image: url(../img/bga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

#m-left,
#m-right {
  width: 100%;
  height: 100%;
  color: var(--bege);
  display: flex;
  align-items: center;
  justify-content: center;
}

#m-left > p {
  margin-left: 5%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4.5rem;
  padding: 1%;
}

#m-right > div {
  width: 60%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#m-right > div > p{
  text-align: justify;
  font-weight: bold;
}

#m-right > div > button {
  margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid var(--bege);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--bege);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #000000;
  }

  #m-right > div > button > a {
    text-decoration: none;
    color: var(--bege);
  }

#m-right > div > button:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--bege);
  z-index: -1;
}


#m-right > div > button:hover> a{
  color: var(--black);
  transition: 0.5s all ease;
}

#m-right > div > button:hover, #m-right > div > button:focus{
  color: var(--black);
}

#m-right > div > button:hover::before, #m-right > div > button:focus::before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#m-right > div > button:active {
  transform: scale(0.9);
}

.sobre,
#conteudos1,
#conteudos3 {
  height: 100vh;
  background-color: var(--bege);
}

#conteudos,
#conteudos2 {
  height: 100vh;
  background-color: var(--black);
}

.sobre {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#s-left,
#s-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-right > div {
  width: 50%;
  text-align: justify;
}

#s-right > div > p {
  font-size: 1.5rem;
  font-weight: bold;
}

#s-right > div > h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

#conteudos {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#c-left {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c-left > div {
  color: var(--bege);
  width: 50%;
  font-weight: bold;
}

#c-left > div > h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#c-left > div > p {
  font-size: 1.5rem;
  text-align: justify;
}

#c-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin: 0;
}

.card {
  width: 300px;
  background-color: var(--bege);
  /* border-radius: 8px; */
  overflow: hidden;
  border: 2px solid #7B6C5A;
  box-shadow: 4px 4px #7B6C5A;
  border-radius: 5px;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h1 {
  font-size: 28px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-content p {
  color: var(--black);
  font-size: 18px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--black);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 16px;
  color: var(--bege);
}

.card button {
  margin-top: 10px;
  padding: 0.8em 1.1em;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #000000; 
}

.card button a {
  text-decoration: none;
  color: var(--black);
  transition: 0.5s all ease;
}

.card button:hover a {
  color: var(--bege);
}

.card button:hover:before {
  width: 105%;
}

.card button:hover {
  color: var(--bege);
 }

.card button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  background: #000000;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

#conteudos1,
#conteudos2,
#conteudos3 {
  display: grid;
  grid-template-columns: 70% 30%;
}

#conteudos1 > #c1-left > div,
#conteudos2 > #c2-left > div,
#conteudos3 > #c3-left > div {
  padding-left: 2%;
}

#conteudos1 > #c1-left > div > h1,
#conteudos2 > #c2-left > div > h1,
#conteudos3 > #c3-left > div > h1 {
  font-size: 4rem;
}

#conteudos1 > #c1-left > div > p,
#conteudos2 > #c2-left > div > p,
#conteudos3 > #c3-left > div > p {
  font-size: 1.5rem;
}

#conteudos1 > #c1-left > div > ul,
#conteudos2 > #c2-left > div > ul,
#conteudos3 > #c3-left > div > ul {
  font-size: 1.5rem;
  margin-left: 5%;
}

#conteudos1 > #c1-left > div > ul > li,
#conteudos2 > #c2-left > div > ul > li,
#conteudos3 > #c3-left > div > ul > li {
  padding: 1%;
}

#c1-left,
#c2-left,
#c3-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#c1-right,
#c2-right,
#c3-right {
  height: 100%;
  width: 100%;
}

#c1-right > img,
#c2-right > img,
#c3-right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#conteudos2 {
  color: var(--bege);
}

#c1-left > div > a {
  text-decoration: none;
}

.space {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Conteúdos primeiro ano */

#container2 {
  display: grid;
  grid-template-rows: auto;
}

#firstContent {
  height: 100vh;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#midContent {
  background: #ffffff;
  height: 100vh;
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#midContent > header {
  text-align: center;
  width: 70%;
}

#midContent > header > h1 {
  font-size: 2.2rem;
}

#midContent > header > p {
  font-size: 1.3em;
}

#midContent > hr {
  width: 70%;
  border-color: var(--red);
}

#midContent > main {
  text-align: justify;
  width: 70%;
  font-size: 1.3em;
}

#midContent > main > hr {
  border-color: var(--red);
}

#midContent > figure {
  width: 70%;
  text-align: center;
  height: 50%;
}

#midContent > figure > img {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--red);
}

#midContent > main > p {
  line-height: 25px;
}

footer {
  background-color: var(--black);
  width: 100%;
  height: 5vh;
  color: var(--bege);
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
}

.img-t {
  width: 50%;
  height: 50%;
  border: 2px solid var(--red);
}

.black {
  color: var(--black);
}

.black:hover {
  color: var(--red);
  transition: 0.5s all ease;
}

.bg {
  color: var(--bege)
}

.bg:hover {
  color: var(--red);
  transition: 0.5s all ease;
}

.mg {
  margin-top: 20px;
   margin-bottom: 20px;
}

legend {
  color: var(--red);
}

b {
  color: var(--red);
}

/* .linkBegin {
  text-decoration: none;
  height: 1px;
}

.backBeginInBlack {
  color: var(--bege);
  margin-top: 50px;
  margin-left: 50px;
  font-family: monospace;
  font-size: 1.3em;
}

.backBeginInBege {
  color: var(--black);
  font-family: monospace;
  font-size: 1.3em;
  display: inline;
} */

/* Responsividade */
@media screen and (max-width: 320px) {
  .navbar{
   width: 75%;
  }
}

@media screen and (max-width: 1019px) {
  #conteudos1,
  #conteudos2,
  #conteudos3 {
    display: flex;
    flex-direction: column;
  }

  #s-right > div, #c-left > div {
    width:  80%;
  }

  #m-right > div > button {
  margin-top: 20px
  }

  .break {
    word-break: break-all;
  }

  #m-left > p {
    margin-left: 0;
    text-align: center;
    font-size: 3.2rem;
  }

  li {
    margin-left: 5%;
  }


  #c1-right > img,
  #c2-right > img,
  #c3-right > img {
    width: 50%;
  }

  #c1-right,
  #c2-right,
  #c3-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    display: grid;
    grid-template-rows: 50% 50%;
  }

  .sobre {
    display: grid;
    grid-template-rows: 50% 50%;
  }

  #c-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html {
    font-size: 12px;
  }

  .nav-links-desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #m-right {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  #midContent {
    background-color: white;
    height: 100vh;
    width: 100%;
    font-size: 1.2em;
  }

  #midContent > header {
    font-size: 1.1em;
  }

  .img-t {
    width: 100%;
    height: 50%;
  }

  #conteudos {
    height: 250vh;
  }

  #c-left {
    height: 20%;
  }

  #c1-left,
  #c2-left,
  #c3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    text-align: start;
  }

  .space {
    margin-top: 20px;
    margin-bottom: 20px;
  }


}
